{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="container course-detail">
        <h1>{{ course.title }}</h1>
        <p><strong>Автор:</strong> {{ course.author }}</p>
        <p><strong>Складність:</strong> {{ course.get_level_display }}</p>
        <p><strong>Дата публікації:</strong> {{ course.date_published }}</p>
        <p>{{ course.full_description }}</p>

        <a href="{% url 'home' %}" class="btn back-link">← Назад</a>
    </div>
</body>
</html>
