<h1>Доска объявлений</h1>
<nav>
    Категории:
    {% for cat in categories %}
      <a href="{% url 'ads_by_category' cat.id %}">{{ cat.name }}</a>
    {% endfor %}
    | <a href="{% url 'create_ad' %}">Создать объявление</a>
</nav>

{% for category, ads_list in ads_by_cat.items %}
  <h2>{{ category.name }}</h2>
  <ul>
    {% for ad in ads_list %}
      <li><a href="{% url 'ad_detail' ad.id %}">{{ ad.title }}</a> ({{ ad.pub_date.date }})</li>
    {% empty %}
      <li>Объявлений нет</li>
    {% endfor %}
  </ul>
{% endfor %}