{% extends 'main/base.html' %}

{% block title %}Головна — Дошка оголошень{% endblock %}

{% block content %}
  {% for category, ads_list in ads_by_cat.items %}
    <h2>{{ category.name }}</h2>
    <ul>
      {% for ad in ads_list %}
        <li>
          <a href="{% url 'ad_detail' ad.id %}">{{ ad.title }}</a>
          <br>
          <small>{{ ad.pub_date.date }}</small>
        </li>
      {% empty %}
        <li class="no-ads">Оголошення відсутні</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
