{% extends 'main/base.html' %}

{% block title %}Редагувати оголошення{% endblock %}

{% block content %}
<h1 class="mb-4">Редагувати оголошення</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card p-4 shadow-sm">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Зберегти зміни</button>
            </form>

            <a href="{% url 'profile' %}" class="btn btn-outline-secondary mt-3 w-100">← Назад до кабінету</a>
        </div>
    </div>
</div>
{% endblock %}